.login{
}
#login_mail{
	margin: 5px;
	font-size: 110%;
}
#login_pass{
	font-size: 110%;
	margin: 5px;
}
#login_button{
	font-size: 105%;
	margin: 5px;
	width: 60px;
	height: 30px;
}
.products{
	float: left;
	width: 405px;
	font-size: 150%;
	padding: 10px;
	margin: 5px;
	background-color: grey;
	color: white;
	font-family: myriad pro;
	
}